{% include 'header.html.twig' %}

<h2>Update {{ rest.getName }}</h2>

<form action="/rest/{{ rest.getId }}" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">New Name:</label>
  <input id="name" name="name" type="text">
  <label for="location">New Location:</label>
  <input id="location" name="location" type="text">

  <button type="submit">Update</button>
</form>

<form action="/rest/{{ rest.getId }}" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete this Restaurant</button>
</form>
{% include 'footer.html.twig' %}
